html {
	font-size: 1.6rem;
	box-sizing: border-box;
	/* background-color: yellow; */
	font-family: "Courier New", Courier, monospace;
}

body,
#root {
	height: 100vh;
	margin: 0;
}

.gridContainer {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 5rem 1fr 2rem;
	grid-template-columns: 1fr;
	height: 100%;
}

a:hover {
	color: aqua;
}

header {
	grid-area: header;
	background-color: rgb(82, 82, 82);
	color: white;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	text-align: center;
}

h1 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	grid-area: main;
	color: black;
}

footer {
	grid-area: footer;
	color: white;
	background-color: rgb(82, 82, 82);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.main {
	flex: 100% 60vw;
	background-color: rgb(167, 255, 255);
}

/* products */
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.products li {
	flex: 0rem 1rem 20rem;
	background-color: rgb(221, 221, 145);
	border: solid 0.25rem rgb(255, 255, 79);
	height: 30vw;
	padding: 1rem;
	margin: 1rem;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.product img {
	width: 17vw;
	height: 15vw;
}

.product-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*  
.product-price div,
.product-price button{
  text-align: center;
  flex: 1;
} */

.button {
	padding: 0.5vw;
	float: right;
	background-color: lightgray;
}

.button:hover {
	color: white;
	background-color: grey;
}

.filter {
	display: flex;
	padding: 1rem;
	margin: 1rem;
	border-bottom: 0.1rem rgb(82, 82, 82) solid;
	justify-content: space-between;
}

.filter div {
	flex: 1;
}

.but {
	font-size: 1.5vw;
}
